<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js3</title>
</head>
<body>
    <div id="app">
        <p>base price: <input type="text" v-model="basePrice"></p>
        <p>tax included price: <input type="text" v-model="taxIncludedPrice"></p>
    </div>
    <script src="https://unpkg.com/vue@3.1.5"></script>
    <script>
        const app = Vue.createApp({
            data: () => ({
                basePrice:100
            }),
            computed: {
                taxIncludedPrice: {
                    get: function() {
                        return this.basePrice * 1.1
                    },
                    set :function(value) {
                        this.basePrice = value / 1.1
                    }
                }
            }
        }).mount("#app")
    </script>
</body>
</html>